.weather {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px;

    &__temp {}


    &__templabel {
        font-size: 24px;
    }

    // img {
    //     width: 100px;
    //     height: 100px;
    // }
}

.weatherCard {
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(black, 0.3);
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 3px solid orange;
}

.weatherItem {

    &__value {
        font-size: 32px;
        font-weight: 700;
        display: inline;
    }

    &__unit {
        font-size: 14px;
        display: inline;
    }

    &__label {
        font-size: 10px;
        display: block;
    }
}