@use './variables' as var;
@use './mixins' as *;
@use "./fonts" as fonts;

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var.$main-font;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.container {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        stroke-dasharray: 1, 800;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 400, 400;
        stroke-dashoffset: -200px;
    }

    100% {
        stroke-dasharray: 800, 1;
        stroke-dashoffset: -800px;
    }
}

.loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    svg {
        width: 16rem;
        height: 16rem;
    }


    &__spin2 {
        transform-origin: center;
        animation: spin2 3s ease-in-out infinite,
            spin 1.5s linear infinite;
        animation-direction: alternate;
    }
}