@use '../../styles/variables.scss' as var;
@use '../../styles/mixins' as *;


.nextCard {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var.$blue;
    border-radius: 20px;
    gap: 1.5rem;
    box-shadow: 0 0 8px 0 rgba(black, 0.3);
    min-height: 10rem;


    @include resp-max("s") {
        gap: 1rem;
        padding: 1rem;
    }


    &__title {
        font-size: 2rem;
        font-weight: 400;
        margin: 0;
        align-self: flex-end;

        @include resp-max ("m") {
            font-size: 1.6rem;
            margin-bottom: -1rem;
        }

        @include resp-max ("s") {
            font-size: 1.2rem;
        }
    }

    &__image {

        @include resp-max ("m") {
            width: 8rem;
            height: 8rem;
        }

        @include resp-max ("s") {
            width: 6rem;
            height: 6rem;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__precipitationvalue {
        font-size: 6rem;
        font-weight: 600;
        display: inline-block;
        color: var.$white;
        margin: 0;

        @include resp-max ("m") {
            font-size: 4rem;
        }

        @include resp-max ("xs") {
            font-size: 3.6rem;
        }
    }

    &__precipitationvaluelabel {
        color: var.$white;
        font-size: 3.2rem;
        margin: 0 0 0 0.3rem;
        display: inline-block;

        @include resp-max ("m") {
            font-size: 2rem;
        }

        @include resp-max ("s") {
            font-size: 1.4rem;
        }

    }

    &__precipitationlabel {
        color: var.$white;
        font-size: 1.2rem;
        margin: 0;

        @include resp-max("s") {
            // margin-top: -1rem;
        }
    }
}