@use '../../styles/variables.scss' as *;


.header {
    background-color: grey;
    color: $text;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.mainNav {
    ul {
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
    }

    &__item {
        text-decoration: none;
        color: $text;
        font-size: 1.6rem;
    }
}

.darkMode {
    .header {
        background-color: black;
    }


    .mainNav {

        &__item {
            color: $white;

        }
    }
}